$imageHeight: 200px;

.header {
  display: flex;
  justify-content: center;
  padding: 20px 0 0;
  height: calc($imageHeight + 20px);
}

.header img {
  width: $imageHeight;
}

.links {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.links > a {
  flex: 1 1 150px;
  text-align: center;
  color: rgb(14, 14, 14);
}

.links:hover {
  color: rgb(50, 22, 22) !important;
}
