$imageHeight: 200px;

.header {
  display: flex;
  justify-content: center;
  padding: 20px 0 5px;
  height: calc($imageHeight + 25px);
}

.header img {
  width: $imageHeight;
}

.links {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 5px;
}

.links > a {
  flex: 1 1 150px;
  text-align: center;
  color: rgba(0, 0, 0, 1);
}
