$imageHeight: 200px;

.header {
  display: flex;
  justify-content: center;
  padding: 20px 0 0px;
  height: calc($imageHeight + 20px);
}

.header img {
  width: $imageHeight;
}

.links {
  display: flex;
  justify-content: center;
}

.links > a {
  margin: 0 5px;
  color: rgba(0, 0, 0, 1);
}
