---
import BaseLayout from "../layouts/Base.astro";
---

<BaseLayout title="Home">
  <p>
    Hello! I'm Ben. I work as software engineer in Philadelphia. I like riding my bike to <a
      href="https://www.paradigmarts.org/"
      target="_blank"
      rel="noreferrer">art galleries</a
    >, <a href="https://utphilly.com/" target="_blank" rel="noreferrer">concerts</a>, <a
      href="http://royalsushiandizakaya.com/"
      target="_blank"
      rel="noreferrer">restaurants</a
    >, and parks. I also like
    <a href="https://www.goodreads.com/user/show/23506884-ben-saff" target="_blank" rel="noreferrer"
      >reading</a
    >, writing, making music, and <a href="https://www.lemonhillaikido.com/">aikido</a>. Whereever
    you are and whoever you are, I wish you peace and good health.
  </p>
  <hr />
  <p>
    In philosophy, a sound conclusion follows logically from well-examined premises. The same
    principle applies when choosing tools for building web apps. If we default to popular frameworks
    without respect to the specifics of what we want to build, we should be skeptical that we've
    made the best choice.
  </p>
</BaseLayout>
