.subtitle {
  text-align: center;
  font-size: 1.3rem;
  color: #444;
  margin-bottom: 2.5rem;
  line-height: 1.5;
  max-width: 700px;
  margin-left: auto;
  margin-right: auto;
}

.bandcampCards {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
  max-width: 900px;
  margin: 0 auto;
}

.bandcampCard {
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  min-width: 320px;
  max-width: 400px;
  width: 100%;
  min-height: 180px;
  margin:auto;
}

.iframeSubtitle {
  font-size: 1.1rem;
  color: #666;
  margin-bottom: 0.7rem;
  margin-top: 0;
}

@media (max-width: 700px) {
  .bandcampCards {
    flex-direction: column;
    gap: 1.2rem;
    max-width: 100%;
  }
  .bandcampCard {
    min-width: 0;
    max-width: 100%;
  }
}
