---
import BaseLayout from "../layouts/Base.astro";
---

<BaseLayout title="Music">
  <h1>Music</h1>

  <ul class="link-list">
    <li>
      <a href="https://kintsugimusic.bandcamp.com" target="_blank" rel="noreferrer">Kintsugi</a>
    </li>
    <li>
      <a href="https://souleatermusic.bandcamp.com" target="_blank" rel="noreferrer">Soul Eater</a>
    </li>
    <li>
      <a href="https://marislane.bandcamp.com" target="_blank" rel="noreferrer">Maris Lane</a>
    </li>
  </ul>
</BaseLayout>
