.navbar {
  width: 100%;
  padding: 1.2rem 0;
  position: sticky;
  top: 0;
  z-index: 100;
  display: flex;
  justify-content: center;
  background: linear-gradient(white 80%, transparent)
}

.navLinks {
  display: flex;
  gap: 2.5rem;
  list-style: none;
  margin: 0;
  padding: 0;
  font-weight: 400;
  align-items: center;
}

.navLinks li a {
  text-decoration: none;
  color: #222;
  font-family: 'Inter', 'Helvetica Neue', Arial, sans-serif;
  font-size: 1.05rem;
  letter-spacing: 0.15em;
  text-transform: uppercase;
  transition: color 0.18s, border-bottom 0.18s;
  padding: 0.2rem 0.1rem;
  border-bottom: 2px solid transparent;
}

:global(a.active) {
  color: firebrick !important;
  border-bottom: 2px solid firebrick !important;
}

.navLinks li a:hover,
.navLinks li a:focus {
  color: #0070f3;
  border-bottom: 2px solid #0070f3;
}

@media (max-width: 480px) {
  .navLinks {
    gap: 1.1rem;
  }

  .navLinks li a {
    font-size: 0.8rem;
    padding: 0.15rem 0.05rem;
  }

  .navbar {
    position: fixed;
    left: 0;
    right: 0;
    width: 100%;
    padding: 0.7rem 0;
    bottom: 0;
    top: auto;

  }
}
