.wrapper {
  position: fixed;
  bottom: 0;
  right: 0;
  width: 100%;
  padding: 25px 0 20px;
  text-align: center;
  background-image: linear-gradient(to bottom, rgba(255,255,255,0), rgba(255,255,255,1) 20%);


  img {
    width: 20px;
    opacity: 0.9;
    cursor: pointer;
    transition: opacity 0.2s ease;

    &:hover {
      opacity: 0.4;
    }
  }
}

@media (max-width: 600px) {
  .wrapper {
    padding: 15px 0 10px;
  }
}
