@import './animations.css';

:root {
  --link-color: firebrick;
  --link-color-hover: #e88989;
}

body {
  margin: 0 auto;
  max-width: 550px;
}

:global(#app) {
  animation: fadeIn 500ms ease;
}

h1 {
  font-size: 1.1rem;
  font-style: italic;
}

a {
  color: var(--link-color);
  transition: color ease 0.25s;
}

a:hover {
  color: var(--link-color-hover);
}
