@import './animations.css';

:root {
  --link-color: firebrick;
  --link-color-hover: #e88989;
  --tap-highlight: #fbfefe;
}

body {
  margin: 0 auto;
  max-width: 550px;
  font-family: 'Crimson Text', serif;
  -webkit-tap-highlight-color: var(--tap-highlight);
}

:global(#app) {
  animation: fadeIn 500ms ease;
}

h1 {
  font-size: 1.1rem;
  font-style: italic;
}

a {
  color: var(--link-color);
  transition: color ease 0.25s;
  text-decoration: none;
}

a:hover {
  color: var(--link-color-hover);
}

p {
  line-height: 1.5;
}
